### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

.DS_Store

### Xcode Patch ###
**/xcshareddata/WorkspaceSettings.xcsettings
